<div class="tbl">
<table class="table table-hover table-responsive table-secondary">
    <thead>
        <tr>
            <th>Department Id</th><th>Name</th><th>Group Name</th><th>Modified Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let de of deplist; let i=index">
            <td>{{de.deptId}}</td>
            <td>{{de.name}}</td>
            <td>{{de.groupName}}</td>
            <td>{{de.modifiedDate}}</td>
            <td><button id="edit" (click)="edit(i)">Edit</button></td>
        <td><button id="delete" (click)="deleteEmplyee(i)">Delete</button></td>
        </tr>
    </tbody>
    </table>
</div>

    <div id="updatediv" *ngIf="updatediv">

            <form>
    
                    <div class="form-group">
                        <label for="deptid">Department ID:</label>
                        <input id="deptid" class="form-control" type="number" name="deptid" [(ngModel)]="department.deptId">
                    </div>
                
                    <div class="form-group">
                            <label for="name">Name:</label>
                            <input id="name" class="form-control" type="text" name="name" [(ngModel)]="department.name">
                        </div>
                
                        <div class="form-group">
                                <label for="groupName">Group Name:</label>
                                <input id="groupName" class="form-control" type="text" name="groupName" [(ngModel)]="department.groupName">
                            </div>
                
                            <div class="form-group">
                                    <label for="date">Modified Date:</label><br>
                                    <input type="date" name="date" id="date" [(ngModel)]="department.modifiedDate">
                                    
                                </div>
                
                                <button type="submit" class="btn btn-primary" (click)="saveDept()">Submit</button>
                
                </form>
</div > 
